.banner{
    background: var(--color-black);
    position: relative;
    height: 880px;
    padding-top: 80px;
    overflow: hidden;
}
.banner .layout-container{
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.banner__title{
    padding-top: 80px;
    font-weight: 500;
    font-size: 200px;
    line-height: 180px;
    text-align: center;
    color: var(--color-white);
    max-width: 917px;
    margin: 0;
}
.banner__img{
    position: absolute;
    width: var(--container-width);
    bottom: 0;
}
.btn:hover {
    background: var(--color-hover);
    box-shadow: none;
}

.btn:active {
    background: var(--color-pressed);
    box-shadow: none;
}
.banner__btn{
    margin-top: 56px;
    z-index: 2;
}