.oders{
    margin-top: 126px;
    background-color: var(--color-black);
}
.orders__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orders__block-title{
    color: var(--color-white);
    margin-top: 64px;
}
.orders__block-buttons{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 36px;
}
.buttons__colors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 48px;
    padding: 8px 0px;
    gap: 4px;
    background: #393939;
    border-radius: 100px;
}
.orders__image{
    margin-top: 80px;
    padding-bottom: 64px;
}
.black{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-black);
    border: 2px solid #393939;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.black__hover{
    background-color: var(--color-black);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.black:hover{
    width: 32px;
    height: 32px;
    border: 2px solid var(--color-black);
    background: #393939;
}
.black:active{
    border: 4px solid #9747FF;
}
.black:focus{
    content: url('/img/iconCheck.svg');
    background-color: var(--color-black);
    padding: 8px 6px 7px 5px;
}
.sant{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #E8DFC8;
    border: 2px solid #393939;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.sant__hover{
    background-color: #E8DFC8;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.sant:hover{
    width: 32px;
    height: 32px;
    border: 2px solid #E8DFC8;
    background: #393939;
}
.sant:active{
    border: 4px solid #9747FF;
}
.sant:focus{
    padding: 8px 6px 7px 5px;
    content: url('/img/iconCheck1.svg');
    background-color: #E8DFC8;
}
.khaki{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #6A7870;
    border: 2px solid #393939;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
 .khaki__hover{
    background-color: #6A7870;
    width: 24px;
    height: 24px;
    border-radius: 50%;
} 
.khaki:hover{
    width: 32px;
    height: 32px;
    border: 2px solid #6A7870;
    background: #393939;
}
.khaki:active{
    border: 4px solid #9747FF;
}
.khaki:focus{
    padding: 8px 6px 7px 5px;
    content: url('/img/iconCheck.svg');
    background-color: #6A7870;
}